Source: jpegli
Maintainer: JPEG XL Maintainers <jpegxl@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends:
 asciidoc,
 cmake,
 debhelper (>= 9),
 libbrotli-dev,
 libgif-dev,
 libgoogle-perftools-dev,
 libgtest-dev,
 libhwy-dev (>= 1.0.0),
 libjpeg-dev,
 libopenexr-dev,
 libpng-dev,
 libwebp-dev,
 pkg-config,
 xdg-utils,
 xmlto,
Homepage: https://github.com/google/jpegli
Rules-Requires-Root: no

Package: jpegli
Architecture: any
Section: utils
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Jpegli JPEG codec (command line utility)
 Jpegli is a new JPEG coding library that is designed to be faster, more
 efficient, and more visually pleasing than traditional JPEG. It uses a number
 of new techniques to achieve these goals, including:
 .
 1) It provides both a fully interoperable encoder and decoder complying with
 the original JPEG standard and its most conventional 8-bit formalism, and
 API/ABI compatibility with libjpeg-turbo and MozJPEG.
 .
 2) High quality results. When images are compressed or decompressed through
 Jpegli, more precise and psychovisually effective computations are performed
 and images will look clearer and have fewer observable artifacts.
 .
 3) Fast. While improving on image quality/compression density ratio, Jpegli's
 coding speed is comparable to traditional approaches, such as libjpeg-turbo and
 MozJPEG. This means that web developers can effortlessly integrate Jpegli into
 their existing workflows without sacrificing coding speed performance or memory
 use.
 .
 4) 10+ bits. Jpegli can be encoded with 10+ bits per component. Traditional
 JPEG coding solutions offer only 8 bit per component dynamics causing visible
 banding artifacts in slow gradients. Jpegli's 10+ bits coding happens in the
 original 8-bit formalism and the resulting images are fully interoperable with
 8-bit viewers. 10+ bit dynamics are available as an API extension and
 application code changes are needed to benefit from it.
 .
 5) More dense: Jpegli compresses images more efficiently than traditional JPEG
 codecs, which can save bandwidth and storage space, and speed up web pages.
 .
 This package installs the command line utilities.

Package: libjpegli-dev
Architecture: any
Section: libdevel
Depends: jpegli (= ${binary:Version}), ${misc:Depends}
 libhwy-dev,
Description: Jpegli JPEG codec (development files)
 Jpegli is a new JPEG coding library that is designed to be faster, more
 efficient, and more visually pleasing than traditional JPEG. It uses a number
 of new techniques to achieve these goals, including:
 .
 1) It provides both a fully interoperable encoder and decoder complying with
 the original JPEG standard and its most conventional 8-bit formalism, and
 API/ABI compatibility with libjpeg-turbo and MozJPEG.
 .
 2) High quality results. When images are compressed or decompressed through
 Jpegli, more precise and psychovisually effective computations are performed
 and images will look clearer and have fewer observable artifacts.
 .
 3) Fast. While improving on image quality/compression density ratio, Jpegli's
 coding speed is comparable to traditional approaches, such as libjpeg-turbo and
 MozJPEG. This means that web developers can effortlessly integrate Jpegli into
 their existing workflows without sacrificing coding speed performance or memory
 use.
 .
 4) 10+ bits. Jpegli can be encoded with 10+ bits per component. Traditional
 JPEG coding solutions offer only 8 bit per component dynamics causing visible
 banding artifacts in slow gradients. Jpegli's 10+ bits coding happens in the
 original 8-bit formalism and the resulting images are fully interoperable with
 8-bit viewers. 10+ bit dynamics are available as an API extension and
 application code changes are needed to benefit from it.
 .
 5) More dense: Jpegli compresses images more efficiently than traditional JPEG
 codecs, which can save bandwidth and storage space, and speed up web pages.
 .
 This package installs development files.

Package: libjpegli
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Jpegli JPEG codec (shared libraries)
 Jpegli is a new JPEG coding library that is designed to be faster, more
 efficient, and more visually pleasing than traditional JPEG. It uses a number
 of new techniques to achieve these goals, including:
 .
 1) It provides both a fully interoperable encoder and decoder complying with
 the original JPEG standard and its most conventional 8-bit formalism, and
 API/ABI compatibility with libjpeg-turbo and MozJPEG.
 .
 2) High quality results. When images are compressed or decompressed through
 Jpegli, more precise and psychovisually effective computations are performed
 and images will look clearer and have fewer observable artifacts.
 .
 3) Fast. While improving on image quality/compression density ratio, Jpegli's
 coding speed is comparable to traditional approaches, such as libjpeg-turbo and
 MozJPEG. This means that web developers can effortlessly integrate Jpegli into
 their existing workflows without sacrificing coding speed performance or memory
 use.
 .
 4) 10+ bits. Jpegli can be encoded with 10+ bits per component. Traditional
 JPEG coding solutions offer only 8 bit per component dynamics causing visible
 banding artifacts in slow gradients. Jpegli's 10+ bits coding happens in the
 original 8-bit formalism and the resulting images are fully interoperable with
 8-bit viewers. 10+ bit dynamics are available as an API extension and
 application code changes are needed to benefit from it.
 .
 5) More dense: Jpegli compresses images more efficiently than traditional JPEG
 codecs, which can save bandwidth and storage space, and speed up web pages.
 .
 This package installs shared libraries.
