Source: jpegli
Maintainer: JPEG XL Maintainers <jpegxl@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends:
 asciidoc,
 cmake,
 debhelper (>= 9),
 libbrotli-dev,
 libgdk-pixbuf-2.0-dev | libgdk-pixbuf2.0-dev,
 libgif-dev,
 libgimp2.0-dev,
 libgoogle-perftools-dev,
 libgtest-dev,
 libhwy-dev (>= 1.0.0),
 libjpeg-dev,
 libopenexr-dev,
 libpng-dev,
 libwebp-dev,
 pkg-config,
 xdg-utils,
 xmlto,
 libjpeg62-turbo-dev,
Homepage: https://github.com/google/jpegli
Rules-Requires-Root: no

Package: jpegli
Architecture: any
Section: utils
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: TODO
 .
 This package installs the command line utilities.

Package: libjpegli-dev
Architecture: any
Section: libdevel
Depends: libjpegli (= ${binary:Version}), ${misc:Depends}
 libhwy-dev,
Description: TODO
 .
 This package installs development files.

Package: libjpegli
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: TODO
 .
 This package installs shared libraries.
